{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Image and title -->
<section class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div>
                <img class="img-fluid" alt="Blog post image" src="{{ post.featured_image.url }}">
            </div>
            <div>
                <h1 class="post-title text-center py-3">{{ post.title }}</h1>
            </div>

        </div>
    </div>

    <!-- Blog post content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto m-2 py-3 px-4">
                <p>{{ post.content | safe }}</p>
            </div>

            <!-- Number of likes and comments -->
            <div class="container">
                <div class="col-lg-8 mx-auto">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            {% with comments.count as total_comments %}
                            <p class="font-weight-bold text-dark"><i class=" far fa-comments"></i>{{ total_comments }}</p>
                            {% endwith %}
                        </div>
                        <div class="col-sm-6 text-center">
                            <p class="font-weight-bold text-dark"><i class=" far fa-heart"></i>{{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>
        <div class="col-md-4 card mb-4  mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}