{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Image and title -->
<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div>
                <img class="img-fluid" alt="Blog post image" src="{{ post.featured_image.url }}">
            </div>
            <div class="text-center my-2">
                <i class="fas fa-calendar-check"></i> {{ post.created_on }}
            </div>
            <div>
                <h1 class="post-title text-center pt-3">{{ post.title }}</h1>
            </div>

        </div>
    </div>

    <!-- Blog post content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto post-content pb-3 px-4">
                <p>{{ post.content | safe }}</p>
            </div>
            <div class="col-md-8 mx-auto text-center author-color py-2">Author: {{ post.author }}</div>

            <!-- Number of likes and comments -->
            <div class="container">
                <div class="col-lg-8 mx-auto">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            {% with comments.count as total_comments %}
                            <p class="font-weight-bold text-dark"><i class=" far fa-comments"></i>{{ total_comments }}</p>
                            {% endwith %}
                        </div>
                        <div class="col-sm-6 text-center">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}

                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                    {% else %}

                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary"> {{ post.number_of_likes }}</span>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row">
            <div class="col-md-8 shadow mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class="text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                        {% if user.username == comment.name %}
                        <div>
                            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger">Delete</a>
                            <a href="{% url 'edit_comment' comment.id %}">
                                <button class="btn btn-warning">Edit</button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        <div class="col-md-4 card mb-4  mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="post-link btn btn-primary btn-lg btn-color">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}