{% extends "base.html" %}

{% block content %}

<!-- Image and title -->
<section class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div>
                <img class="img-fluid" alt="Blog post image" src="{{ post.featured_image.url }}">
            </div>
            <div>
                <h1 class="post-title text-center py-3">{{ post.title }}</h1>
            </div>

        </div>
    </div>

    <!-- Blog post content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto m-2 py-3 px-4">
                <p>{{ post.content | safe }}</p>
            </div>

            <!-- Number of likes and comments -->
            <div class="container">
                <div class="col-lg-8 mx-auto">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            {% with comments.count as total_comments %}
                            <p class="font-weight-bold text-dark"><i class=" far fa-comments"></i>{{ total_comments }}</p>
                            {% endwith %}
                        </div>
                        <div class="col-sm-6 text-center">
                            <p class="font-weight-bold text-dark"><i class=" far fa-heart"></i>{{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3>Comments:</h3>
                <div>
                    {% for comments in comments %}
                    <div>
                        <p>{{ comment.name }} | {{ comment.created_on}}</p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}